In [ ]:
SELECT CONCAT(name,('('), LEFT(occupation, 1), (')'))
FROM occupations
ORDER BY name;

SELECT CONCAT('There are a total of ', count, ' ', lower(occupation), 's.')
FROM ( 
    SELECT occupation, COUNT(occupation) AS count
    FROM occupations
    GROUP BY occupation
    ORDER BY count, occupation
) occupationCount;