In [ ]:
SELECT salary * months AS totalSalary, COUNT(*)
FROM employee
GROUP BY totalSalary
ORDER BY totalSalary DESC
LIMIT 1;